﻿
@{
    ViewBag.Title = "DanhSachXuatXu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Danh mục xuát xứ</h2>
    <div class="container">
        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ThemXuatXu">
            Thêm mới
        </button>

        <!-- The Modal -->
        <div class="modal fade" id="ThemXuatXu">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Thêm mới xuất xứ</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="." method="post">
                            <div class="form-group">
                                <label> Xuất xứ:</label>
                                <input class="form-control" placeholder="Thêm mã xuất xứ">
                            </div>
                            <div class="form-group">
                                <label> Ghi chú:</label>
                                <input class="form-control" placeholder="Thêm ghi chú">
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Xuất xứ</th>
                <th>Ghi chú</th>
                <th>Sửa/Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatXuatXu">Sửa</button>
                    <div class="modal fade" id="CapNhatXuatXu">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Sửa thông tin xuất xứ</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="." method="post">
                                        <div class="form-group">
                                            <label> Xuất xứ:</label>
                                            <input class="form-control" placeholder="Thêm mã xuất xứ">
                                        </div>
                                        <div class="form-group">
                                            <label> Ghi chú:</label>
                                            <input class="form-control" placeholder="Thêm ghi chú">
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatXuatXu">Sửa</button>
                    <div class="modal fade" id="CapNhatXuatXu">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Sửa thông tin xuất xứ</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="." method="post">
                                        <div class="form-group">
                                            <label> Xuất xứ:</label>
                                            <input class="form-control" placeholder="Thêm mã xuất xứ">
                                        </div>
                                        <div class="form-group">
                                            <label> Ghi chú:</label>
                                            <input class="form-control" placeholder="Thêm ghi chú">
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatXuatXu">Sửa</button>
                    <div class="modal fade" id="CapNhatXuatXu">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Sửa thông tin xuất xứ</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="." method="post">
                                        <div class="form-group">
                                            <label> Xuất xứ:</label>
                                            <input class="form-control" placeholder="Thêm mã xuất xứ">
                                        </div>
                                        <div class="form-group">
                                            <label> Ghi chú:</label>
                                            <input class="form-control" placeholder="Thêm ghi chú">
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

