﻿
@{
    ViewBag.Title = "DanhSachThietBi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2>Danh mục thiết bị</h2>
        <div class="container">
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ThemThietBi">
                Thêm mới
            </button>

            <!-- The Modal -->
            <div class="modal fade" id="ThemThietBi">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm mới thiết bị</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form action="." method="post">
                                <div class="form-group">
                                    <label>Mã thiết bị:</label>
                                    <input class="form-control" placeholder="Nhập mã thiết bị">
                                </div>
                                <div class="form-group">
                                    <label>Tên thiết bị:</label>
                                    <input class="form-control" placeholder="Nhập tên thiết bị">
                                </div>
                                <div class="form-group">
                                    <label>Serial:</label>
                                    <input class="form-control" placeholder="Nhập số serial">
                                </div>
                                <div class="form-group">
                                    <label>Tình trạng thiết bị:</label>
                                    <input class="form-control" placeholder="Còn bao nhiêu phần trăm">
                                </div>
                                <div class="form-group">
                                    <label>Ghi chú tình trạng:</label>
                                    <input class="form-control" placeholder="Thêm ghi chú">
                                </div>
                                <div class="form-group">
                                    <label>Cần bảo dưỡng ?:</label>
                                    <input type="checkbox">
                                </div>
                                <div class="form-group">
                                    <label>Chu kỳ bảo dưỡng:</label>
                                    <input class="form-control" placeholder="Thêm thời gian">
                                </div>
                                <div class="form-group">
                                    <label>Ghi chú chu kỳ bảo dưỡng:</label>
                                    <input class="form-control" placeholder="Thêm ghi chú">
                                </div>
                                <div class="form-group">
                                    <label>Xuất xứ:</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Hãng sản xuất:</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Phòng ban:</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã thiết bị</th>
                    <th>Tên thiết bị</th>
                    <th>Serial</th>
                    <th>Tình trạng thiết bị</th>
                    <th>Chu kỳ bảo dưỡng</th>
                    <th>Xuất xứ</th>
                    <th>Hãng xuất xứ</th>
                    <th>Phòng ban</th>
                    <th>Sửa/Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>null</td>
                    <td>null</td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>null</td>
                    <td>null</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatThietBi">Sửa</button>
                        <div class="modal fade" id="CapNhatThietBi">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thêm mới thiết bị</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form action="." method="post">
                                            <div class="form-group">
                                                <label>Mã thiết bị:</label>
                                                <input class="form-control" placeholder="Nhập mã thiết bị">
                                            </div>
                                            <div class="form-group">
                                                <label>Tên thiết bị:</label>
                                                <input class="form-control" placeholder="Nhập tên thiết bị">
                                            </div>
                                            <div class="form-group">
                                                <label>Serial:</label>
                                                <input class="form-control" placeholder="Nhập số serial">
                                            </div>
                                            <div class="form-group">
                                                <label>Tình trạng thiết bị:</label>
                                                <input class="form-control" placeholder="Còn bao nhiêu phần trăm">
                                            </div>
                                            <div class="form-group">
                                                <label>Ghi chú tình trạng:</label>
                                                <input class="form-control" placeholder="Thêm ghi chú">
                                            </div>
                                            <div class="form-group">
                                                <label>Cần bảo dưỡng ?:</label>
                                                <input type="checkbox">
                                            </div>
                                            <div class="form-group">
                                                <label>Chu kỳ bảo dưỡng:</label>
                                                <input class="form-control" placeholder="Thêm thời gian">
                                            </div>
                                            <div class="form-group">
                                                <label>Ghi chú chu kỳ bảo dưỡng:</label>
                                                <input class="form-control" placeholder="Thêm ghi chú">
                                            </div>
                                            <div class="form-group">
                                                <label>Xuất xứ:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Hãng sản xuất:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Phòng ban:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td>null</td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>null</td>
                    <td>null</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatThietBi">Sửa</button>
                        <div class="modal fade" id="CapNhatThietBi">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thêm mới thiết bị</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form action="." method="post">
                                            <div class="form-group">
                                                <label>Mã thiết bị:</label>
                                                <input class="form-control" placeholder="Nhập mã thiết bị">
                                            </div>
                                            <div class="form-group">
                                                <label>Tên thiết bị:</label>
                                                <input class="form-control" placeholder="Nhập tên thiết bị">
                                            </div>
                                            <div class="form-group">
                                                <label>Serial:</label>
                                                <input class="form-control" placeholder="Nhập số serial">
                                            </div>
                                            <div class="form-group">
                                                <label>Tình trạng thiết bị:</label>
                                                <input class="form-control" placeholder="Còn bao nhiêu phần trăm">
                                            </div>
                                            <div class="form-group">
                                                <label>Ghi chú tình trạng:</label>
                                                <input class="form-control" placeholder="Thêm ghi chú">
                                            </div>
                                            <div class="form-group">
                                                <label>Cần bảo dưỡng ?:</label>
                                                <input type="checkbox">
                                            </div>
                                            <div class="form-group">
                                                <label>Chu kỳ bảo dưỡng:</label>
                                                <input class="form-control" placeholder="Thêm thời gian">
                                            </div>
                                            <div class="form-group">
                                                <label>Ghi chú chu kỳ bảo dưỡng:</label>
                                                <input class="form-control" placeholder="Thêm ghi chú">
                                            </div>
                                            <div class="form-group">
                                                <label>Xuất xứ:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Hãng sản xuất:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Phòng ban:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>null</td>
                    <td>John</td>
                    <td>Doe</td>
                    <td>null</td>
                    <td>null</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatThietBi">Sửa</button>
                        <div class="modal fade" id="CapNhatThietBi">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thêm mới thiết bị</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form action="." method="post">
                                            <div class="form-group">
                                                <label>Mã thiết bị:</label>
                                                <input class="form-control" placeholder="Nhập mã thiết bị">
                                            </div>
                                            <div class="form-group">
                                                <label>Tên thiết bị:</label>
                                                <input class="form-control" placeholder="Nhập tên thiết bị">
                                            </div>
                                            <div class="form-group">
                                                <label>Serial:</label>
                                                <input class="form-control" placeholder="Nhập số serial">
                                            </div>
                                            <div class="form-group">
                                                <label>Tình trạng thiết bị:</label>
                                                <input class="form-control" placeholder="Còn bao nhiêu phần trăm">
                                            </div>
                                            <div class="form-group">
                                                <label>Ghi chú tình trạng:</label>
                                                <input class="form-control" placeholder="Thêm ghi chú">
                                            </div>
                                            <div class="form-group">
                                                <label>Cần bảo dưỡng ?:</label>
                                                <input type="checkbox">
                                            </div>
                                            <div class="form-group">
                                                <label>Chu kỳ bảo dưỡng:</label>
                                                <input class="form-control" placeholder="Thêm thời gian">
                                            </div>
                                            <div class="form-group">
                                                <label>Ghi chú chu kỳ bảo dưỡng:</label>
                                                <input class="form-control" placeholder="Thêm ghi chú">
                                            </div>
                                            <div class="form-group">
                                                <label>Xuất xứ:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Hãng sản xuất:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Phòng ban:</label>
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

