﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("X-Team", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>
                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                            Danh mục quản lý
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Thiết Bị", "DanhSachThietBi", "QuanLyThietBi")</li>
                            <li>@Html.ActionLink("Phòng Ban", "DanhSachPhongBan", "QuanLyPhongBan")</li>
                        </ul>
                    </li>
                    <li>
                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                            Báo cáo
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Dự trù thiết bị", "BaoCaoDuTruThietBi", "QuanLyBaoCao")</li>
                            <li>@Html.ActionLink("Nhập mới thiết bị", "BaoCaoNhapMoiThietBi", "QuanLyBaoCao")</li>
                            <li>@Html.ActionLink("Điều chuyển thiết bị", "BaoCaoDieuChuyenThietBi", "QuanLyBaoCao")</li>
                            <li>@Html.ActionLink("Du tru hang thang", "MonthlyIntendedOrder", "QuanLyBaoCao")</li>
                        </ul>
                    </li>
                    <li>
                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                            Hợp đồng
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Hợp đồng khách hàng", "HopDongKhachHang", "QuanLyHopDong")</li>
                            <li>@Html.ActionLink("Hợp đồng nhà cung cấp", "HopDongNhaCungCap", "QuanLyHopDong")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
