﻿
@{
    ViewBag.Title = "DanhSachPhongBan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh mục phòng ban</h2>
<div class="container">
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ThemPhongBan">
        Thêm mới
    </button>

    <!-- The Modal -->
    <div class="modal fade" id="ThemPhongBan">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới phòng ban</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="." method="post">
                        <div class="form-group">
                            <label>Mã đơn vị:</label>
                            <input class="form-control" placeholder="Thêm mã đơn vị">
                        </div>
                        <div class="form-group">
                            <label>Tên Đơn Vị:</label>
                            <input class="form-control" placeholder="Thêm tên đơn vị">
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ:</label>
                            <input class="form-control" placeholder="Thêm địa chỉ">
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại:</label>
                            <input class="form-control" placeholder="Thêm số điện thoại">
                        </div>
                        <div class="form-group">
                            <label>Tên ghi chú:</label>
                            <input class="form-control" placeholder="Thêm ghi chú">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã đơn vị</th>
                <th>Tên đơn vị</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Ghi chú</th>
                <th>Sửa/Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatPhongBan">Sửa</button>
                    <div class="modal fade" id="CapNhatPhongBan">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm mới phòng ban</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="." method="post">
                                        <div class="form-group">
                                            <label>Mã đơn vị:</label>
                                            <input class="form-control" placeholder="Thêm mã đơn vị">
                                        </div>
                                        <div class="form-group">
                                            <label>Tên Đơn Vị:</label>
                                            <input class="form-control" placeholder="Thêm tên đơn vị">
                                        </div>
                                        <div class="form-group">
                                            <label>Địa chỉ:</label>
                                            <input class="form-control" placeholder="Thêm địa chỉ">
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại:</label>
                                            <input class="form-control" placeholder="Thêm số điện thoại">
                                        </div>
                                        <div class="form-group">
                                            <label>Tên ghi chú:</label>
                                            <input class="form-control" placeholder="Thêm ghi chú">
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
            <tr>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatPhongBan">Sửa</button>
                    <div class="modal fade" id="CapNhatPhongBan">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm mới phòng ban</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="." method="post">
                                        <div class="form-group">
                                            <label>Mã đơn vị:</label>
                                            <input class="form-control" placeholder="Thêm mã đơn vị">
                                        </div>
                                        <div class="form-group">
                                            <label>Tên Đơn Vị:</label>
                                            <input class="form-control" placeholder="Thêm tên đơn vị">
                                        </div>
                                        <div class="form-group">
                                            <label>Địa chỉ:</label>
                                            <input class="form-control" placeholder="Thêm địa chỉ">
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại:</label>
                                            <input class="form-control" placeholder="Thêm số điện thoại">
                                        </div>
                                        <div class="form-group">
                                            <label>Tên ghi chú:</label>
                                            <input class="form-control" placeholder="Thêm ghi chú">
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
            <tr>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CapNhatPhongBan">Sửa</button>
                    <div class="modal fade" id="CapNhatPhongBan">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm mới phòng ban</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="." method="post">
                                        <div class="form-group">
                                            <label>Mã đơn vị:</label>
                                            <input class="form-control" placeholder="Thêm mã đơn vị">
                                        </div>
                                        <div class="form-group">
                                            <label>Tên Đơn Vị:</label>
                                            <input class="form-control" placeholder="Thêm tên đơn vị">
                                        </div>
                                        <div class="form-group">
                                            <label>Địa chỉ:</label>
                                            <input class="form-control" placeholder="Thêm địa chỉ">
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại:</label>
                                            <input class="form-control" placeholder="Thêm số điện thoại">
                                        </div>
                                        <div class="form-group">
                                            <label>Tên ghi chú:</label>
                                            <input class="form-control" placeholder="Thêm ghi chú">
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

